<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 text-center text-md-start">
                © 2014 -
                <script>@DateTime.Now.Year.ToString()</script> VERCOM <span class="fw-semibold"></span>
            </div>
            <div class="col-md-6">
                <div class="text-md-end d-none d-md-block">
                   <span class="fw-bold">yordanisvc@gmail.com</span>
                </div>
            </div>
        </div>
    </div>
</footer>