@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>VERCOM | AUTENTICARSE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Inspinia is the #1 best-selling admin dashboard template on Wrapmarket. Perfect for building CRM, CMS, project management tools, and custom web apps with clean UI, responsive design, and powerful features.">
    <meta name="keywords" content="Inspinia, admin dashboard, Wrapmarket, Wrapbootstrap, HTML template, Bootstrap admin, CRM template, CMS template, responsive admin, web app UI, admin theme, best admin template">
    <meta name="author" content="WebAppLayers">
    <!-- App favicon -->
    <link rel="shortcut icon" href="~/Content/images/favicon.ico">
    <!-- Theme Config Js -->
    <script src="~/Scripts/config.js"></script>
    <!-- Vendor css -->
    <link href="~/Content/vendors.min.css" rel="stylesheet" />
    <!-- App css -->
    <link href="~/Content/app.min.css" rel="stylesheet" />
    <link href="~/Content/logoanimate.css" rel="stylesheet" />
</head>
<body>
    <div class="auth-box d-flex">
        <div class="container-xxl">
            <div class="row justify-content-center">
                <ul class="circles">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
                <div class="col-xl-7">
                    <div class="rounded-3 border-bottom border-dashed">
                        <div class="row g-0">
                            <div class="col-6 d-lg-block align-content-around rounded-3">
                                <div class="auth-brand text-center mb-4">
                                    <a href="index.html" class="logo-dark">
                                        <img src="~/logo.png" alt="logo" class="logo" height="32" />
                                    </a>
                                    <a href="index.html" class="logo-light">
                                        <img src="~/logo.png" alt="logo" class="logo" height="32" />
                                    </a>
                                    <h4 class="fw-bold mt-4">Bienvenido a VERCOM</h4>
                                    <p class="text-muted w-lg-75 mx-auto">"Las personas no compran bienes y servicios. Compran relaciones, historias y magia."</p>
                                    <p class="text-muted w-lg-75 mx-auto" style="margin-left:10%">Seth Godin</p>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="card p-4 rounded-4">
                                    <form action="@Url.Action("Login", "Account", new { ReturnUrl = Request.QueryString["ReturnUrl"] })" method="post">
                                        @Html.AntiForgeryToken()
                                        <div class="mb-3">
                                            <label for="Username" class="form-label">Usuario <span class="text-danger">*</span></label>
                                            <div class="input-group">
                                                <input type="text" class="form-control bg-light bg-opacity-40 border-light" id="Username" name="Username" placeholder="Usuario" required="">
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <label for="Password" class="form-label">Contraseña <span class="text-danger">*</span></label>
                                            <div class="input-group">
                                                <input type="password" class="form-control bg-light bg-opacity-40 border-light" id="Password" name="Password" placeholder="Contraseña" required="">
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-between align-items-center mb-3">
                                            <div class="form-check">
                                                <input class="form-check-input form-check-input-light fs-14" type="checkbox" id="rememberMe">
                                                <label class="form-check-label" for="rememberMe">Recuerdame</label>
                                            </div>                                        
                                        </div>
                                        <div class="d-grid">
                                            <button type="submit" class="btn btn-primary fw-bold py-2">Autenticarse</button>
                                        </div>
                                    </form>
                                    <p class="text-muted text-center mt-4 mb-0">
                                        Tienes una cuenta? <a href="@Url.Action("Register", "Account")" class="text-decoration-underline link-offset-3 fw-semibold">Crear cuenta</a>
                                    </p>
                                </div>                          
                            </div>
                        </div>
                    </div>
                    <p class="text-muted text-center mt-4 mb-0">
                        VERCOM by <span class="fw-semibold">yordanisvc@gmail.com</span>   © 2024 -
                        <script>document.write(new Date().getFullYear())</script>
                    </p>                  
                </div>
            </div>
        </div>
    </div>
    @{
        if (User.Identity.IsAuthenticated)
        {
            <script>
                    window.location.href = '@Url.Action("Index", "Home")';
            </script>
        }
    }
</body>
</html>



