@model System.Collections.Generic.List<Inspinia_MVC5.Models.operacion>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
      
</div>
</body>
</html>