@model vercom.Models.punto_venta
@{
    ViewBag.Title = "AGREGAR PUNTO";
}
<div class="page-title-head d-flex align-items-center">
    <div class="flex-grow-1">
        <h4 class="fs-sm text-uppercase fw-bold m-0">PUNTO DE VENTA</h4>
    </div>
    <div class="text-end">
        <ol class="breadcrumb m-0 py-0">
            <li class="breadcrumb-item">
                <a href="javascript: void(0);">VERCOM</a>
            </li>
            <li class="breadcrumb-item">
                <a href="javascript: void(0);">PUNTO</a>
            </li>
            <li class="breadcrumb-item active">AGREGAR</li>
        </ol>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-xxl-4">
        <form id="formPunto">
            @Html.AntiForgeryToken()
            <div class="row">
                <div class="col-xxl-12">
                    <div class="card">
                        <div class="card-header d-block p-3">
                            <h4 class="card-title mb-1">Información del punto de venta</h4>
                            <p class="text-muted mb-0">
                                Para agregar un nuevo punto de venta, proporcione los detalles necesarios en los campos a continuación.
                            </p>
                        </div> <!-- end card-header -->
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12">
                                    <div class="mb-3">
                                        <label for="nombre" class="form-label">Nombre del punto de venta <span class="text-danger">*</span></label>
                                        <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Entre el nombre del punto de venta" required="">
                                    </div>
                                </div>
                            </div>
                        </div> <!-- end card-body-->
                        <div class="card-footer">
                            <div class="mt-2 mb-2 d-flex gap-2 justify-content-end">
                                <a href="@Url.Action("Index")" class="btn btn-soft-dark">
                                    <i data-lucide="arrow-big-left-dash" class="fs-xxl me-2"></i> Regresar
                                </a>
                                <button type="submit" class="btn btn-success">
                                    <i data-lucide="save" class="fs-sm me-2"></i> Guardar
                                </button>
                            </div>
                        </div>
                    </div> <!-- end card-->
                </div> <!-- end col-->
            </div> <!-- end row-->
        </form>
    </div> <!-- end col-->
</div>
@section Styles {
    <link href="~/Content/plugins/toastr/toastr.min.css" rel="stylesheet" />
}

@section Scripts {
    <script src="~/Scripts/plugins/toastr/toastr.min.js"></script>
    <script>
        $(document).ready(function () {
            $("form").on("submit", function (e) {           
                e.preventDefault();
                $.ajax({
                    url: '@Url.Action("Create", "Punto")',
                    type: 'POST',
                    data: $(this).serialize(),
                    success: function (response) {
                        if (response.success) {
                            Swal.fire({
                                icon: 'success',
                                title:'Punto agregado',
                                text: 'Punto agregado correctamente, redireccionando a la lista.',
                                timer: 1500,
                                showConfirmButton: false
                            });
                            window.location.href = response.redirectUrl;
                        } else {
                            Swal.fire({
                                icon: 'error',
                                title: '¡Error!',
                                text: response.message
                            });
                        }
                    },
                    error: function () {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'Hubo un problema al enviar el formulario.'
                        });
                    }
                });
            });
        });
    </script>
}

